* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* ios viewport bug fix */
@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}