.main {
  
}

.sectionTitle {
    align-items: center;
    background-color: #2e2e2eb3;
    color: white;
    display: flex;
    padding: 20px;
    font-weight: 700;
    font-size: 16px;
    justify-content: center;
    flex-direction: column;

    .leafIcon {
        filter: invert(1);
    }
}

.calcBg {
    background-image: url("../../public/turfBG2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    // ** dvh rather than vh resolves ios viewport display issue
    height: calc(100vh - 100px); //** fallback
    height: calc(100dvh - 100px);

    .calcBackdrop {
        background-color: rgba(0, 0, 0, 0.445);
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 85px);
        width: 100%;
    }
}

.calcContainer {
    align-items: center;
    display: flex;
    background-color: #eef3f4f2;
    box-shadow: 1px 1px 10px #0000009e;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    height: calc(100% - 30px);
    min-width: 300px;
    max-width: 500px;
    width: calc(100% - 30px);

    .topContainer {
        width: 100%;

        label {
            color: black;
            display: block;
            padding: 10px 0;
            font-size: 20px;
            font-weight: 300;
            font-family: inherit;
            width: 100%;
        }
    
        input {
            align-self: start;
            background-color: #a5a5a5;
            border: none;
            border-radius: 0;
            color: white;
            padding: 0 20px;
            font-size: 20px;
            font-family: inherit;
            font-weight: 600;
            height: 50px;
            text-align: center;
            width: 100%;
    
            &:focus-visible {
                outline: none;
            }
    
            &:focus {
                background-color: #555555b3;
            }

            &:hover {
                background-color: #555555b3;
            }
        }
    }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    
        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
}

.resultsContainer {
    background-color: #82808014;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    position: relative;
    height: 100%;
    width: 100%;

    .row {
        border-bottom: 1px solid #555555b3;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        height: 35px;

        .rowLabel {
            font-weight: 400;
        }

        .cost {
            text-decoration: line-through;
        }

        .costLowered {
            margin-left: 10px;
            font-weight: 400;
        }
    }

    .discountBlock {
        margin: 0 auto;
        color: black;
        display: flex;
        justify-content: center;

        .text {
            align-items: center;
            display: flex;
            justify-content: center;
            font-weight: 400;
            font-size: 16px;
            padding: 15px;
        }
    
        img {
            margin-left: 10px;
            filter: invert(1);
        }
    }

    .rowLabel {
        font-weight: 500;
    }
}

.buttonsContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5px;
    justify-content: space-between;
    width: 100%;
    
    .clear {
        font-size: 14px;
        background-color: #555555b3;
        border: none;
        color: white;
        cursor: pointer;
        font-family: inherit;
        margin-top: 20px;
        height: 50px;
        flex-grow: 1;

        &:hover {
            background-color: #2e2e2eb3;
        }
    }

    .calculate {
        font-size: 14px;
        background-color: #3db2e4;
        border: none;
        color: white;
        cursor: pointer;
        font-family: inherit;
        margin-top: 20px;
        height: 50px;
        flex-grow: 1;

        &:hover {
            background-color: #379dc9;
        }
    }
}