.backdrop {
    background-color: rgba(0, 0, 0, 0.259);
    position: absolute;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    z-index: 1500;
    // display: none;
}


.modal {
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.609);
    // border-radius: 6px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    top: calc(50% + 81px);
    flex-direction: column;
    transform: translate(-50%, -50%);
    padding: 20px;
    position: absolute;
    height: fit-content;
    width: fit-content;
    
    h1 {
        text-align: start;
        justify-self: flex-start;
        padding: 10px 0;
        font-size: 20px;
        font-weight: 300;
        width: 100%;
        // padding-bottom: 0;
    }
}

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 5px;
    column-gap: 5px;
    margin-top: 20px;
    width: 100%;

    .cancel {
        align-items: center;
        background-color: rgba(85, 85, 85, 0.7019607843);
        font-size: 14px;
        border: none;
        color: white;
        cursor: pointer;
        justify-content: center;
        display: flex;
        font-family: inherit;
        height: 50px;
        padding: 20px 10px;

        &:hover {
            background-color: rgba(46, 46, 46, 0.7019607843);
        }
    }

    .submit {
        align-items: center;
        background-color: #3db2e4;
        font-size: 14px;
        border: none;
        color: white;
        cursor: pointer;
        justify-content: center;
        display: flex;
        font-family: inherit;
        height: 50px;
        padding: 20px 10px;
        width: 100%;

        &:hover {
            background-color: #379dc9;
        }
    }
}

.input {
    border: 1px solid #808282;
    font-family: inherit;
    font-size: 20px;
    padding: 10px;
    height: 50px;
    width: 100%;
    // margin-top: 20px;
    border-radius: 0;

    &:focus-visible {
        outline: none;
    }
}